body {
    background-color: #300000;
}

@media (min-width: 500px) {
    body {
        background-color: salmon;
    }
}

@media (max-width: 499px) {
    body {
        background-color: maroon;
    }
}

.btn:focus {
  outline: none;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.transparent{
  background:rgba(100,100,100,0.5);
}

.navbar-fixed-bottom{
    padding-top: 50px;
}
