body {
    background-color: #300000
}

@media (min-width: 500px) {
    body {
        background-color: salmon;
    }
}

@media (max-width: 499px) {
    body {
        background-color: maroon;
    }
}

.btn:focus {
  outline: none;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
